In [1]:
data = {
    '영화' : ['명량', '극한직업', '신과함께-죄와 벌', '국제시장', '괴물', '도둑들', '7번방의 선물', '암살'],
    '개봉 연도' : [2014, 2019, 2017, 2014, 2006, 2012, 2013, 2015],
    '관객 수' : [1761, 1626, 1441, 1426, 1301, 1298, 1281, 1270], # (단위 : 만 명)
    '평점' : [8.88, 9.20, 8.73, 9.16, 8.62, 7.64, 8.83, 9.10]
}

In [2]:
import pandas

In [3]:
#위의 딕셔너리 데이터를 판다스의 dataframe 형태로 만드세요. 

df= pandas.DataFrame(data)
df

          영화  개봉 연도  관객 수    평점
0         명량   2014  1761  8.88
1       극한직업   2019  1626  9.20
2  신과함께-죄와 벌   2017  1441  8.73
3       국제시장   2014  1426  9.16
4         괴물   2006  1301  8.62
5        도둑들   2012  1298  7.64
6    7번방의 선물   2013  1281  8.83
7         암살   2015  1270  9.10

In [21]:
# 전체데이터중 영화 평점 정보만 출력해보세요

df.loc[['영화','평점']]

KeyError: "None of [Index(['영화', '평점'], dtype='object')] are in the [index]"

In [15]:
#2015년 이후에 개봉한 영어 정보중 영화 , 개봉연도 정보를 출력



df.loc[df['개봉 연도'] >= 2015 ,['영화','개봉 연도']]

          영화  개봉 연도
1       극한직업   2019
2  신과함께-죄와 벌   2017
7         암살   2015

In [20]:
#관객수가 1300만명 이상이며, 평점은 8.8점이상인 영화의 모든 컬럼 정보를 조회 하세요.


df.loc[(df['관객 수'] >= 1300) & (df['평점'] >= 8.8)]

     영화  개봉 연도  관객 수    평점
0    명량   2014  1761  8.88
1  극한직업   2019  1626  9.20
3  국제시장   2014  1426  9.16